.item {
  margin-left: 17px;

  font-weight: 700;
}

.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.link {
  margin-right: 5px;
  width: 50%;
  overflow: hidden;
  white-space: nowrap;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  color: var(--primaryTextColor);
  transition: color 250ms var(--timingFn);
}

.link:after {
  margin-left: 5px;
  content: '..............................................................................................................................';
}

.link:hover,
.link:focus {
  color: var(--accentColor);
}

.name {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primaryTextColor);
}
