.contact {
  display: flex;
  align-items: center;
}

.contact:not(:last-child) {
  margin-bottom: 5px;
}

.icon {
  margin-right: 10px;
}

.link {
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.04em;
  color: #c2c5c9;
  transition: color 250ms var(--timingFn);
}

.link:hover,
.link:focus {
  color: var(--accentColor);
}
