.container {
  padding: 90px;
}

.section:not(:last-child) {
  margin-bottom: 40px;
}

.profession {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.name {
  font-size: 45px;
  font-weight: 700;
  line-height: 89px;
}

.description {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.title {
  margin-bottom: 20px;

  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
}

.subTitle {
  margin-bottom: 10px;

  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.typeProject {
  color: var(--accentColor);
}

.list {
  margin-bottom: 15px;
}
